/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0;
}

.accent {
    color: #4d5ae5;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link.current {
    color: #404bbf;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list a {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: #404bbf;
}

/* endregion header */

/* region hero */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* endregion hero */

/* region features */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icon {
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* endregion features */

/* region team */
.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
    padding: 32px 16px;
}

.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #31d0aa;
}

.team-social-link svg {
    fill: #f4f4fd;
}

/* endregion team */

/* region portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* endregion portfolio */

/* region footer */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container>div:first-child {
    margin-right: 120px;
}

.footer-social-list-wrap {
    margin-right: 80px;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
    margin-top: 16px;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-link svg {
    fill: #f4f4fd;
}

/* FOOTER SUBSCRIBE */

.footer-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

/* INPUT */

.footer-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;

    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;

    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-input:hover,
.footer-input:focus {
    border-color: #31D0AA;
}
/* BUTTON */

.footer-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    min-width: 165px;
    height: 40px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}

.footer-btn-icon {
    fill: #ffffff;
}

/* endregion footer */

/* ========== REGION POPUP ========== */
/* ========== BACKDROP ========== */
.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ========== MODAL ========== */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

/* ========== CLOSE BUTTON ========== */
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
    fill: #ffffff;
}

/* ========== TITLE ========== */
.modal-title {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    color: #2e2f42;
}

/* ========== FORM ========== */
.form-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: #8e8f99;
}

/* ========== INPUT ICON ========== */
.input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    fill: #2e2f42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOCUS STATE */
.form-input:focus {
    border-color: #4d5ae5;
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

/* ========== TEXTAREA ========== */
.form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 0px;
    
    resize: none;
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
    
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-label {
    position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
    
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.checkbox-custom {
    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link:hover,
.privacy-link:focus {
    color: #404bbf;
}

.form-checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.checkbox-icon {
    opacity: 0;
    fill: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox-label .checkbox-custom {
    background-color: #404bbf;
    border-color: #404bbf;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon {
    opacity: 1;
}

.checkbox-input:focus-visible+.checkbox-label .checkbox-custom {
    outline: 2px solid #4d5ae5;
    outline-offset: 2px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

/* ========== SUBMIT BUTTON ========== */
.modal-submit-btn {
    display: block;
    margin: 24px auto 0;

    width: 169px;
    height: 56px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: #404bbf;
}
/* ========== END REGION POPUP ========== */